[submodule "third-party/glm"]
	path = third-party/glm
	url = https://github.com/g-truc/glm.git
[submodule "third-party/HTTPRequest"]
	path = third-party/HTTPRequest
	url = https://github.com/elnormous/HTTPRequest.git
[submodule "third-party/lrucache17"]
	path = third-party/lrucache17
	url = https://github.com/marty1885/lrucache17
