[submodule "third-party/glm"]
	path = third-party/glm
	url = https://github.com/g-truc/glm.git
[submodule "third-party/earcut"]
	path = third-party/earcut
	url = https://github.com/mapbox/earcut.hpp
[submodule "third-party/rapidjson"]
	path = third-party/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "third-party/gzip-hpp"]
	path = third-party/gzip-hpp
	url = https://github.com/mapbox/gzip-hpp.git
[submodule "third-party/zlib"]
	path = third-party/zlib
	url = https://github.com/madler/zlib
[submodule "third-party/HTTPRequest"]
	path = third-party/HTTPRequest
	url = https://github.com/elnormous/HTTPRequest.git
